<div class="task">
	<div class="arrow-left centered-block"><div class="centered-text"><</div></div>
	<%= title %><br><%= description %>
	<div class="arrow-right centered-block"><div class="centered-text">></div></div>
</div>

