<div class = "panel-body tasks-header">
    <div class="header-todo">To Do</div>
    <div class="header-in-progress">In progress</div>
    <div class="header-to-verify">To verify</div>
    <div class="header-done last">Done</div>
</div>

<div class = "panel-body tasks">
    <div class="todo">
    </div>

    <div class="in-progress">
    </div>

    <div class="to-verify">
    </div>

    <div class="done">
    </div>
</div>

<button class = "btn btn-info stop-sprint">Stop sprint</button>
