    <span class = "title"><%= title %></span>

    <p><span class = "message"><%= message %></span>
    
    <div class = "access btn btn-default">Yes</div>
    <div class = "deny btn btn-default">No</div>