<div class="scrum-page-header nav scrum-page-1">
    <div class="col-xs-4 tab" id="planning">
        <span class = "glyphicon glyphicon-list-alt"></span>
        Planning
    </div>
    
    <div class="col-xs-4 tab" id="scrumboard">
        <span class = "glyphicon glyphicon-tasks"></span>
        Scrum Board
    </div>
    
    <div class="col-xs-4 tab" id="stat" >
        <span class = "glyphicon glyphicon-stats"></span>
        Statistics
    </div>
</div>

<div class="content scrum-page" id="ScrumPage"></div>
