<div class="team-edit-page-header nav team-edit-page">
    <div class="col-xs-4 tab" id="watchers">Watchers</div>
    <div class="col-xs-4 tab" id="developers">Developers</div>
    <div class="col-xs-4 tab" id="techleads">TechLeads</div>
</div>

<div class="content team-edit-page">
    <div class="candidates"></div>
    <div class="team-members"></div>
</div>

