<ul class="list-unstyled">
    <li>Type: <%= item_type %></li>
    <li>Title: <%= title %></li>
    <% if(description.trim().length) { 
    	print ("<li>Description: " + description + "</li>");
	} %>
    <li>Estimation: <%= estimation %></li>
</ul>
