<div class="info">
    <div class="title">Info</div>
    <div class="main">
        <ul class="list-unstyled">
            <li>Description: <%= description %></li>
            <li>DateStart: <%= start %></li>
            <li>PM: <%= pm.first_name + " " + pm.last_name %> </li>
            <li>Role: <%= role %> </li>
        </ul>
    </div>
</div>