<div class="backlog-box product">
    <div class="backlog-box-name">   
        ProductBacklog
        <div class="backlog-box-actions">
        </div>
    </div> 
    <div class="story-list">
    </div>
</div>