<span class = "title">Edit Story</span>
<br /><br />
<p>Title:</p>
<input class = "input" type = "text" id = "title"/>
<p>Description:</p>
<textarea class = "input" size = 300 id = "description"></textarea>
