    <span class = "title">Stop Sprint?</span>
    <br /><br />
    <p>Another active sprint was found.</p> 
    <p>Would You like to stop it??</p>
    
    <div class = "ok_button btn btn-default">Yes</div>
    <div class = "no_button btn btn-default">No</div><br /><br />

