    <span class = "title">Edit Sprint</span>

    <span class = "legend">Title*:</span>
    <input class = "input required" type = "text" name = "title" value = "<%= title %>"/>

    <span class = "legend">Title*:</span>
    <textarea class = "input" size = 300 name = "description"></textarea>

    <span class = "legend">Start*:</span>
    <input class = "input start-date required calendar" type = "text" name = "start_date" readonly="true" />

    <span class = "legend">End*:</span>
    <input class = "input end-date required calendar" type = "text" name = "end_date" readonly="true" />
    
    <div class = "save_button btn btn-default">Start sprint</div>
    <div class = "cancel_button btn btn-default">Cancel</div>

    <div class = "error-box"></div>

