    <span class = "title">Stop Sprint?</span>

    <p><span class = "message">Another active sprint was found.</p> 
    <p>Would You like to stop it??</p></span>
    
    <div class = "ok_button btn btn-default">Yes</div>
    <div class = "no_button btn btn-default">No</div>