    <span class = "title">Edit Sprint</span>
    <br /><br />
    <p>Title:</p>
    <input class = "input" type = "text" name = "title" value = "<%= title %>"/>

    <p>Description:</p>
    <textarea class = "input" size = 300 name = "description"></textarea>

    <p>Start:</p>
    <input class = "input" type = "text" name = "title"/>

    <p>End:</p>
    <input class = "input" type = "text" name = "title"/>
    <div class = "save_button btn btn-default">Start sprint</div>
    <div class = "cancel_button btn btn-default">Cancel</div>

