    <span class = "title">Edit Story</span>
    <span class = "legend">Title*:</span>
    <input class = "input required" type = "text" name = "title" value = "<%= title %>"/>

    <span class = "legend">Description:</span>
    <textarea class = "input" size = 300 name = "description"><%= description %></textarea>

    <div class = "save_button btn btn-default">Save</div>
    <div class = "cancel_button btn btn-default">Cancel</div>

    <div class = "error-box"></div>


