<div class = "edit-backlog-item hidden">
    <div class = "container"></div>
    <div class = "save_button btn btn-default">Save</div>
    <div class = "cancel_button btn btn-default">Cancel</div>
</div>