    <span class = "title">Edit Story</span>
    <br /><br />
    <p>Title:</p>
    <input class = "input" type = "text" name = "title" value = "<%= title %>"/>

    <p>Description:</p>
    <textarea class = "input" size = 300 name = "description"><%= description %></textarea>

    <div class = "save_button btn btn-default">Save</div>
    <div class = "cancel_button btn btn-default">Cancel</div>

