<table class="table table-bordered table-hover">
    <tr class="active">
        <th>Date</th>
        <th>Issue</th>
        <th>Issue type</th>
        <th>Issue Status</th>
        <th>Story Points</th>
    </tr>
</table>