<div class="title team-page" >
    My teams
    <div class="actions">
        <span class="hide btn btn-default glyphicon glyphicon-plus">
        </span>
    </div>
</div>

<div class="content team-page">
</div>