<div class="backlog-box product">
    <div class="backlog-box-name">   
        ProductBacklog
        <div class="backlog-box-actions">
            <button class="btn-new-story" id="add_new_story">+</button>
        </div>
    </div> 
    <div class="story-list">
    </div>
</div>