<div class="backlog-box product">
    <div class="backlog-box-name">   
        ProductBacklog
        <div class="backlog-box-actions">
            <input class="add-new-story btn-new-story" type="button" value="+" />
        </div>
    </div> 
    <div class="backlogstory-list">
    </div>
</div>