<div class="title project-page">
    My Projects
    <div class="actions">
        <span class="hide btn btn-default glyphicon glyphicon-plus">
        </span>
    </div>
</div>

<div class="content project-page">
</div>